

/* PIE CHART */
.piechart-container {
    width: 30%;
    height: 350px;
}

.flaky-count {
    background-color: rgb(254, 223, 99, 0.8) ;
    width: 110px;
    border-radius: 20px;
    margin: auto;
}
.flaky-count p {
    font-size: 13px;
    color: #8a5d2a;
    text-align: center;
    padding: 2px;
}

.linechart-container {
    height: 220px;
    width: 50%;
}

/* BARCHART  */
.barchart-container {
    height: 350px;
    width: 50%;
}
/* BOTTOM CONTENT  */
.accordion-scrollable {
    max-height: 230px;
    overflow-y: auto;
    width: 100%;
}

/* ERRORS */
.errors-details-container {
    width: 100%;
}


/* DURATION */
.duration-title {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    font-size: 20px;
    margin-left: 5px;    
}

.duration-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALENDAR */
.calendar-container p {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

@media screen and (max-width: 1350px) {
    .piechart-container, 
    .barchart-graph,
    .duration-container,
    .linechart-graph {
        width: 100%;
    }
}

 @media screen and (max-width: 750px) {
    .calendar-container, 
    .placeholder-dashboard, 
    .errors-details-container, 
    .flakiness-details,
    .barchart-container,
    .sidebar-container {
        display: none;
    }
    .middle-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 500px;
        width: 500px;
    }
    .linechart-container,
    .piechart-container {
        width: 90%;
        margin-bottom: 10px;
    }
}


