

/* PIE CHART */
.piechart-container {
    width: 30%;
    height: 350px;
    
}
.piechart-graph {
    width: 100%;
}
.flaky-count {
    background-color: rgb(254, 223, 99, 0.8) ;
    width: 110px;
    border-radius: 20px;
    margin: auto;
}
.flaky-count p {
    font-size: 13px;
    color: #8a5d2a;
    text-align: center;
    padding: 2px;
}



/* BOTTOM CONTENT  */

.accordion-scrollable {
    max-height: 450px;
    overflow-y: auto;
    width: 100%;
}


/* DURATION */
.duration-title {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    font-size: 20px;
    margin-left: 5px;    
}

.duration-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
