/* SUMMARY */
.dashboard-container h1{
    text-align: center;
    margin: 10px;
}
.dashboard-items {
    display: flex;
    justify-content: center;
}
.summary {
    display: flex;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
    margin: 10px;
}

/* ASSERTION RESULTS */
.assertions-graph {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 600px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey;
    margin: 10px;
}

