.flakeRiskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(121, 52, 52);
  color: rgb(255, 255, 255);
  width: 600px;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.flakeRiskContainer h1,
.flakeRiskContainer h2,
.flakeRiskContainer h2 em {
  color: rgb(230, 230, 230);
  background-color: rgb(121, 52, 52);;
}

.flakeRiskContainer h1{
  font-size: 40px;
}

.flakeRiskContainer h2 {
  padding-top: 20px;
  font-size: 24px;
}

.flakeRiskContainer h2 em {
  text-decoration: underline;
}

.flakeRiskSign {
  position: relative;
  width: 400px;
  height: 200px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.flakeRiskSlice {
    position: absolute;
    left: 135px;
    top: 0%;
    width:130px;
    height:200px;
    clip-path:polygon(0% 0%, 100% 0%,50% 100%);
    border-radius:100px; 
    transform-origin: 50% 100%;
}

.flakeRiskSlice:nth-child(1) {
  transform: rotate(-72deg);
}

.flakeRiskSlice:nth-child(2) {
  transform: rotate(-36deg); /* Adjust rotation angle for each slice */
}

.flakeRiskSlice:nth-child(3) {
  transform: rotate(0deg); /* Adjust rotation angle for each slice */
}

.flakeRiskSlice:nth-child(4) {
  transform: rotate(36deg); /* Adjust rotation angle for each slice */
}

.flakeRiskSlice:nth-child(5) {
  transform: rotate(72deg); /* Adjust rotation angle for each slice */
}

.flakeRiskSlice h3 {
  text-align: center;
  color: rgb(230, 230, 230);
  font-size: 18px;
  height: 50px;
  padding-top: 10px;
  text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; /* Adjust shadow positions and colors as needed */
}

.flakeRiskArrow {
  position: relative;
  background-color: rgb(240, 240, 240);
  height: 160px;
  width: 20px;
  top: 50px;
  left: 190px;
  z-index: 10;
  border-radius: 10px;
  overflow: visible;
  transform-origin: 10px 150px;
  /* transform: rotate(70deg); */
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}