@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  color: rgb(0, 0, 0);
}
#navbar-container .navbar-custom{
  width: 100vh;
}
#intro-title {
  font-weight: bold;
  font-size: 60px;
  font-family: Georgia, serif;
  text-align: center; /* Centers text within the h1 */
  margin-bottom: 20px;
}
.intro-bg-overlay, .code-overlay{
position: absolute;
top: 50%; /* Center vertically */
left: 50%; /* Center horizontally */
transform: translate(-50%, -50%); /* Adjust for the text’s dimensions */
color: white; /* Text color */
font-size: 2rem;
font-family: Arial, sans-serif;
background: rgba(0, 0, 0, 0.5); /*  Semi-transparent background for better readability */
padding: 20px;
border-radius: 10px; /*  Rounded corners */
}
.docs-overlay{
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  /*transform: translate(-50%, -50%);  Adjust for the text’s dimensions */
  color: white; /* Text color */
  /* font-size: 2rem; */
  font-family: Arial, sans-serif;
  background: rgba(153, 150, 150, 0.5); /*  Semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px; /*  Rounded corners */
  }
.intro-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
  position: relative;
  width: 100%;
  height: 35vh;
}
.lightBulb-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.codeScreen-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
  position: relative;
  width: 100%;
  height: 55vh;
}



.footer-container {
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px; /* Adjust this width as needed */
}
.footer-div img {
  transition: transform 0.3s ease; /* Smooth transition for the size adjustment */
}

.doc-links-container {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
#github-logo:hover {
  transform: scale(1.1); /* Adjust the scale value as needed for the desired size */
}

#npm-logo:hover {
  transform: scale(1.2); /* Adjust the scale value as needed for the desired size */
}
#npm-docs-logo:hover{
  transform: scale(1.3);
}
.intro-background{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
#flake-logo {
  height: 35px;
  width: 35px;
  border-radius: 25%;
}
#tagline-emphasize {
  background: linear-gradient(
    to right,
    #00A86B,
    #6610F2
  ); /* Jade to Indigo gradient */
  background-clip: text; /* Standard */
  color: transparent;
}

#social-logo {
  height: 35px;
  width: 35px;
}

#carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: black;
  padding: 20px;
  height: 20vh;
}

#carousel-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px; /* Adjust as needed */
  margin-top: 10px;
}

#carousel-prev,
#carousel-next {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#carousel-next {
  text-align: end; /* This aligns text within the button to the end */
}

#carousel-overlay{
  color: white;
  background-color: rgba(212, 54, 54, 0.639)
}

#feature-1-logo{
    width: 50px;
    height: 50px;
}
#carousel{
    border: 3px solid rgb(247, 204, 204);
}







