@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  background-color: rgb(235, 235, 235);
  color: rgb(0, 0, 0);
}
#navbar-container {
  width: 100vh;
}
#intro-title {
  font-weight: bold;
  font-size: 60px;
  font-family: Georgia, serif;
  text-align: center; /* Centers text within the h1 */
  margin-bottom: 20px;
}
.intro-bg-overlay, .code-overlay{
position: absolute;
top: 50%; /* Center vertically */
left: 50%; /* Center horizontally */
transform: translate(-50%, -50%);  /*Adjust for the text’s dimensions */
color: white; /* Text color */
font-size: 2rem;
font-family: Arial, sans-serif;
background: rgba(0, 0, 0, 0.5); /*  Semi-transparent background for better readability */
padding: 20px;
border-radius: 10px; /*  Rounded corners */
}
.docs-overlay{
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the text’s dimensions */
  color: white; /* Text color */
  /* font-size: 2rem; */
  font-family: Arial, sans-serif;
  background: rgba(0, 0, 0, 0.5); /*  Semi-transparent background for better readability */
  padding: 20px;
  border-radius: 10px; /*  Rounded corners */
  }
.intro-container {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.intro-background{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
#flake-logo {
  height: 35px;
  width: 35px;
  border-radius: 25%;
}
#tagline-emphasize {
  background: linear-gradient(
    to right,
    #00A86B,
    #6610F2
  ); /* Jade to Indigo gradient */
  background-clip: text; /* Standard */
  color: transparent;
}
#social-logo {
  height: 35px;
  width: 35px;
}
.card {
  width: 18rem;
}
.cards-container{
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}
#feature-1-logo{
    width: 50px;
    height: 50px;
}
#carousel{
    border: 3px solid rgb(247, 204, 204);
}







