.landing-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 550px;
    margin: auto;
    font-size: 20px;
    margin-top: 10px;
}
/* it's called left, because at some point i'd like to add something on the right side */
.left-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 580px;
    height: 450px;
    /* background-color: green; */
}

.left-landing h1 {
    align-self: start;
    width: 98%;
    height: 120px;
    font-size: 40px;
    font-weight: 700;
    color: #457f3e;
}

.left-landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: self-start;
    text-align: justify;
}

.npm-button {
    width: 100%;
    height: 40px;
    background-color: #4aa240;
    border: none;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.npm-button:hover {
    background-color: #41aa35;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.npm-link {
    color: white;
}
.p-tag-with-link a:hover {
    color: #38932e;
    text-decoration: underline;
}

.right-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 750px;
    height: 100%;
}

#medium-article-link{
    color: #4aa240;
}
