.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background-color: #457f3e;
    font-size: 16px;
}

.footer-links a {
    color: white; 
}
.footer-links {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.footer-icon-links {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.footer-icon-links a:hover {
    transform: scale(1.05); 
}

@media screen and (max-width: 850px) {
    .footer-icon-links {
        width: 120px;
    }

    .footer-container {
        height: 160px;
    }
    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    

}
