.landing-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 550px;
    margin: auto;
    font-size: 20px;
    margin-top: 10px;
}
/* it's called left, because at some point i'd like to add something on the right side */
.left-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 580px;
    height: 450px;
}

.left-landing h1 {
    align-self: start;
    width: 98%;
    height: 120px;
    font-size: 40px;
    font-weight: 700;
    color: #457f3e;
}

.left-landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: self-start;
    text-align: justify;
}

.npm-button {
    width: 100%;
    height: 40px;
    background-color: #4aa240;
    border: none;
    border-radius: 5px;
    margin-top: 35px;
    margin-bottom: 10px;
}
.npm-button:hover {
    background-color: #41aa35;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.npm-link {
    color: white;
}
.p-tag-with-link a:hover {
    color: #38932e;
    text-decoration: underline;
}

.right-landing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 750px;
    height: 100%;
}
.right-landing img {
    width:'750px';
    margin-left: '15px'
}

#medium-article-link{
    color: #4aa240;
}

/*TEAM CSS*/

#avatars:hover{
    background-color: #457f3e;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #457f3e;
}

.team {
    text-align: center;
    padding: 50px 0;
    color: #457f3e;
  }
  
  .team-members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; /* To handle different screen sizes */
  }
  
  .team-member {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #457f3e;
    padding: 20px;
    text-align: center;
    width: 200px; /* Adjust width as needed */
  }
  
  .team-member-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  #linkedinlogo,
  #githublogo {
    width: 2rem;
    height: 2rem;
    margin: 0rem 1rem 0rem 1rem
  }

  @media screen and (max-width: 1500px) {
    .right-landing img {
        width: 650px;
        margin-left: 20px;
    }
    .landing-page-container {
        width: 85%;
    }

  }

@media screen and (max-width: 1350px) {
    .left-landing {
        width: 70%;
    }
    .right-landing {
        display: none;
    }
}
@media screen and (max-width: 850px) {
    .left-landing {
        width: 100%;
    }
    .right-landing {
        display: none;
    }
}


